@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .center-container {
        @apply w-full h-full flex items-center justify-center;
    }
}

body {
    font-family: "思源宋体 CN";
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

.dark {
    color: red;
}